# GENERAL #
###########

#*.git/
# Ignore folders:
#/ls_*/
# Ignore files:
#ls_*
# Ignore all:
#ls_

# PATHS #
#########



# FOLDERS #
###########

#Modules/

# FILE TYPES #
##############



# FILES #
#########

.github/README.html
#Utility/ls_utilities_ext.lua